.home-container {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    /* the size of the background image */
    background-position: 798px -798px;
  }
}

.home-glass {
  color: #fbfff7;
  background-image: linear-gradient(135deg, #54545457, #17171712);
  border-radius: 20px;
  width: 85%;
  height: 85%;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 10;
}
