.home {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  height: 700px;
  width: 800px;
}

h1 {
  color: white;
  position: relative;
  text-align: center;
  font-family: "Euclid Circular A";
  font-size: 40px;
}

body {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
  overflow: visible;
}
