/* .home-container {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 798px -798px;
  }
}

.home-glass {
  color: #fbfff7;
  background-image: linear-gradient(135deg, #54545457, #17171712);
  border-radius: 20px;
  width: 85%;
  height: 85%;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 10;
} */

/* * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@keyframes background {
  100% {
    background-size: 4000px 1000px;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
  font-family: "Euclid Circular A";
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
} */

.home {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  height: 700px;
  width: 800px;
}

h1 {
  color: white;
  position: relative;
  text-align: center;
  font-family: "Euclid Circular A";
  font-size: 40px;
}

body {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
  overflow: visible;
}
