.login {
  background-color: rgb(255, 255, 255);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    /* the size of the background image */
    background-position: 798px;
  }
}
