.fancy_card:hover {
  transform: translate3D(0, -1px, 0) scale(1.07);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease;
}

.sneaker-container {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: stars 30s linear infinite;
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    /* the size of the background image */
    background-position: 798px -798px;
  }
}

.sneaker-title {
  display: flex;
  justify-content: center;
}

.sneaker-price {
  font-family: "SF Arch Rival";
  font-size: 15px;
  font-weight: bold;
}

.name-font {
  font-family: "Qhairo";
  font-weight: bold;
}

.description-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.glass {
  color: #fbfff7;
  background-image: linear-gradient(135deg, #54545457, #17171712);
  border-radius: 20px;
  width: 85%;
  height: 85%;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 10;
}
